<div class="row" align="center">
  <h1>gestionar formulario</h1>

  <div *ngIf="mostrarFormularioForm">
      <form [formGroup]="formularioForm">
          <md-input-container class="login-input-form">
              <input name="nombreFormulario" mdInput formControlName="nombreFormulario" placeholder="Nombre del formulario" />
              <md-error class="error-message" *ngIf="formularioForm.controls['nombreFormulario'].errors && formularioForm.controls['nombreFormulario'].touched">
                <p class="error-message" *ngIf="formularioForm.controls['nombreFormulario'].hasError('required') && formularioForm.controls['nombreFormulario'].touched">Campo requerido</p>
              </md-error>
          </md-input-container>
          <button class="login-button" md-raised-button color="primary" [disabled]="!formularioForm.valid" (click)="crearNombreFormulario()">Agregar nombre </button>
      </form>
  </div>
  <div  *ngIf="!mostrarFormularioForm">
    {{ formularioForm.controls['nombreFormulario'].value }}
  </div>

  <div *ngIf="mostrarPreguntasForm">
      <form [formGroup]="preguntasForm">
          <md-input-container class="login-input-form">
            <input name="alias" mdInput formControlName="alias" placeholder="Alias" />
            <md-error class="error-message" *ngIf="preguntasForm.controls['alias'].errors && preguntasForm.controls['alias'].touched">
              <p class="error-message" *ngIf="preguntasForm.controls['alias'].hasError('required') && preguntasForm.controls['alias'].touched">Campo requerido</p>
            </md-error>
          </md-input-container>
    
          <md-input-container class="login-input-form">
              <label>Pregunta</label>
              <textarea name="pregunta" mdInput formControlName="pregunta"></textarea>
              <md-error class="error-message" *ngIf="preguntasForm.controls['pregunta'].errors && preguntasForm.controls['pregunta'].touched">
                <p class="error-message" *ngIf="preguntasForm.controls['pregunta'].hasError('required') && preguntasForm.controls['pregunta'].touched">Campo requerido</p>
              </md-error>
          </md-input-container>
    
          <div class="login-input-form">
            <md-select class="login-input-form" name="tipo" formControlName="tipo"  placeholder="Tipo" >
              <md-option value="1">Texto</md-option>
              <md-option value="2">Numero</md-option>
              <md-option value="3">Porcentaje</md-option>
              <md-option value="4">Escala de likert</md-option>
            </md-select> 
            <md-error class="error-message" *ngIf="preguntasForm.controls['tipo'].errors && preguntasForm.controls['tipo'].touched">
              <p class="error-message" *ngIf="preguntasForm.controls['tipo'].hasError('required') && preguntasForm.controls['tipo'].touched">Campo requerido</p>
            </md-error>
          </div>
          <div *ngIf="preguntasForm.value.tipo == 4">
              <md-input-container class="login-input-form">
                  <input name="l1" mdInput formControlName="l1" placeholder="Likert 1" />
              </md-input-container>
              <md-input-container class="login-input-form">
                  <input name="l2" mdInput formControlName="l2" placeholder="Likert 2" />
              </md-input-container>
              <md-input-container class="login-input-form">
                  <input name="l3" mdInput formControlName="l3" placeholder="Likert 3" />
              </md-input-container>
              <md-input-container class="login-input-form">
                  <input name="l4" mdInput formControlName="l4" placeholder="Likert 4" />
              </md-input-container>
              <md-input-container class="login-input-form">
                  <input name="l5" mdInput formControlName="l5" placeholder="Likert 5" />
              </md-input-container>
          </div>
          
          
          <button class="login-button" md-raised-button color="primary" [disabled]="!preguntasForm.valid" (click)="agregarPregunta()">Agregar </button>
      </form>
  </div>
  <div>
      <p *ngFor="let pregunta of preguntasArreglo">
        {{ pregunta.alias }}  .- {{ pregunta.pregunta }}
        <a (click)="eliminarPregunta(pregunta.alias)" *ngIf="mostrarPreguntasForm">
            <i class="fa fa-close"></i>
        </a>
      </p>
  </div>

  <button *ngIf="mostrarPreguntasForm" (click)="finalizarPreguntas()">Finaliza preguntas</button>
  <button *ngIf="mostrarPreguntasForm" (click)="regresarAFormulario()">Regresar a formulario</button>

  <div *ngIf="mostrarIndicadoresForm">
      <form [formGroup]="indicadoresForm">
          <md-input-container class="login-input-form">
              <input name="alias" mdInput formControlName="alias" placeholder="Alias" />
              <md-error class="error-message" *ngIf="indicadoresForm.controls['alias'].errors && indicadoresForm.controls['alias'].touched">
                <p class="error-message" *ngIf="indicadoresForm.controls['alias'].hasError('required') && indicadoresForm.controls['alias'].touched">Campo requerido</p>
              </md-error>
          </md-input-container>

          <md-input-container class="login-input-form">
            <input name="nombre" mdInput formControlName="nombre" placeholder="Nombre del indicador" />
            <md-error class="error-message" *ngIf="indicadoresForm.controls['nombre'].errors && indicadoresForm.controls['nombre'].touched">
              <p class="error-message" *ngIf="indicadoresForm.controls['nombre'].hasError('required') && indicadoresForm.controls['nombre'].touched">Campo requerido</p>
            </md-error>
          </md-input-container>
    
          <md-input-container class="login-input-form">
              <input name="operacion" mdInput formControlName="operacion" placeholder="Operación" />
              <md-error class="error-message" *ngIf="indicadoresForm.controls['operacion'].errors && indicadoresForm.controls['operacion'].touched">
                  <p class="error-message" *ngIf="indicadoresForm.controls['operacion'].hasError('required') && indicadoresForm.controls['operacion'].touched">Campo requerido</p>
              </md-error>
              <md-error class="error-message" *ngIf="indicadoresForm.controls['operacion'].errors && indicadoresForm.controls['operacion'].touched">
                  <p class="error-message" *ngIf="indicadoresForm.controls['operacion'].hasError('formulaIncorrecta') && indicadoresForm.controls['operacion'].touched">Fórmula incorrecta o el nombre de la variable no corresponde con el alias de la pregunta.</p>
              </md-error>
          </md-input-container>
    
          <md-input-container class="login-input-form">
              <input name="referencia" mdInput formControlName="referencia" placeholder="Valor de referencia" />
              <md-error class="error-message" *ngIf="indicadoresForm.controls['referencia'].errors && indicadoresForm.controls['referencia'].touched">
                <p class="error-message" *ngIf="indicadoresForm.controls['referencia'].hasError('required') && indicadoresForm.controls['referencia'].touched">Campo requerido</p>
              </md-error>
          </md-input-container>
            
          <div class="login-input-form">
              <md-select class="login-input-form" name="comparativa" formControlName="comparativa"  placeholder="Comparativa" >
                <md-option value="1">Mayor mejor</md-option>
                <md-option value="2">Menor mejor</md-option>
              </md-select> 
              <md-error class="error-message" *ngIf="indicadoresForm.controls['comparativa'].errors && indicadoresForm.controls['comparativa'].touched">
                <p class="error-message" *ngIf="indicadoresForm.controls['comparativa'].hasError('required') && indicadoresForm.controls['comparativa'].touched">Campo requerido</p>
              </md-error>
            </div>
          
          <button class="login-button" md-raised-button color="primary" [disabled]="!indicadoresForm.valid" (click)="agregarIndicador()">Agregar </button>
      </form>
  </div>

  <div>
      <p *ngFor="let indicador of indicadoresArreglo">
        {{ indicador.nombre }}  - {{ indicador.operacion }}
        <a (click)="eliminarIndicador(indicador.alias)" *ngIf="mostrarIndicadoresForm">
            <i class="fa fa-close"></i>
        </a>
      </p>
  </div>
  <button *ngIf="mostrarIndicadoresForm" (click)="regresarAPreguntas()">Regresar a preguntas</button>
  <button *ngIf="mostrarIndicadoresForm" (click)="finalizarIndicadores()">Finaliza indicadores</button>
  
  <div *ngIf="mostrarFinalForm">
      <form [formGroup]="finalForm">
          <md-checkbox name="aplicaTodasEmpresas" mdInput formControlName="aplicaTodasEmpresas" >
            Aplica a todas las empresa
          </md-checkbox>
          <button class="login-button" md-raised-button color="primary" [disabled]="!finalForm.valid" (click)="finalizar()">Crear formulario</button>
      </form>
  </div>

  <button *ngIf="mostrarFinalForm" (click)="regresarAIndicadores()">Regresar a indicadores</button>


  
</div>