.menu-container {
    height: 11rem;
    background-color: rgb(110,110,110);
    position: relative;
}

.menu-logo {
    height: 6rem;
    margin: 1.5rem;
    display: inline-block;
}

.user-menu {
    position: absolute;
    right: 2rem;
    top: 6rem;
}

.down-arrow {
    padding-left: 5%;
}

.md-menu-item {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    padding: 0.5rem 1em;
    cursor: pointer;
}

.md-menu-item:hover {
    background-color: rgb(245,245,245); 
}
