<div id="print-section" class="container-fluid">
    <h3 class="text-center">{{'ORDER_DETAIL' | translate}}</h3>
    <td-data-table #dataTable [data]="filteredData" [columns]="columns" [selectable]="selectable" [clickable]="clickable" [multiple]="multiple"
    [sortable]="true" [sortBy]="sortBy" [(ngModel)]="selectedRows" [sortOrder]="sortOrder" (sortChange)="sort($event)" >
  </td-data-table>
  <td-paging-bar #pagingBarLinks pageLinkCount="5" [firstLast]="false" [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
    <span hide-xs>{{pagingBarLinks.range}} {{'OF' | translate}} {{pagingBarLinks.total}}</span>
  </td-paging-bar>
  <div class="align-right">
    <button md-raised-button class="mat-primary" (click)="print()">{{'PRINT' | translate}}</button>
    <button md-raised-button (click)="closeModal()">{{'CLOSE' | translate}}</button>
  </div>
</div>
